DATABASE_URL=postgres://avnadmin:REPLACE_WITH_PASSWORD@pg-3e2f9514-wakokunu-78bb.e.aivencloud.com:11844/defaultdb?sslmode=require
CHESSKE_BOOTSTRAP_CSV=cleaned_master_chess_players.csv
CHESSKE_BOOTSTRAP_LIMIT=0
